@use 'variables' as *;
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}
body {
    font-family: var(--font-family);
    background-color: var(--color-light);
    color: var(--color-dark);
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;

    @include tablet {
    max-width: 1440px;
    padding: 0 32px;
    }

    @include desktop {
    padding: 0 32px;
    }
}

.is-hidden {
    display: none !important;
}