/* DM Sans - Regular  */
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* DM Sans - Medium  */
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* DM Sans - Italic  */
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}