@use 'variables' as *;

.header {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    
    @include tablet {
      padding: 24px 32px;
    }
    @include desktop{
      padding: 28px 32px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    
    img {
      width: 132px;
      height: auto;
    }
  }

  &__nav {
    display: none;

    @include tablet {
      display: flex;
      gap: 4px;
      background-color: var(--color-dark);
      padding: 4px;
      border-radius: 30px;
    }

    @include desktop{
      display: flex;
      gap: 4px;
      background-color: var(--color-dark);
      padding: 4px;
      border-radius: 30px;
    }

    &-list {
      display: flex;
      list-style: none;
      padding: 6px 12px;
      margin: 0;
      .li{
        padding: 6px 12px;
      }
    }

    &-link {
      color: var(--color-light);
      padding: 10px 24px;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      border-radius: 20px;
      border: 0px solid white;
      transition: all 0.3s ease;
      background-color: var(--color-dark);

      &--active {
        background-color: var(--color-light);
        color: var(--color-dark);
      }
    }
  }

  &__socials {
    display: none; 

    @include tablet {
      display: flex;
      gap: 12px;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 20%;
      border: 1px solid rgba(36, 36, 36, 0.1);
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    @include tablet {
      display: none;
    }

    span {
      width: 100%;
      height: 2px;
      background-color: var(--color-dark);
      border-radius: 2px;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--color-white);
    cursor: pointer;
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    &-list{
      display: flex;
      flex-direction: column;
      align-items: center; 
      gap: 16px;           
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-link {
      color: var(--color-white);
      font-size: 14px;
      text-decoration: none;
      margin-bottom: 20px;
      display: block;
      background: none;
      border: none;
    }
  }

  &__socials {
    margin-top: auto;
    display: flex;

    align-items: end;
    gap: 20px;
  }
}