@use 'variables' as *;

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home {
  display: grid;
  grid-template-areas: 
    "text"
    "hero"
    "sidebar";
  padding: 40px 0;
  @include desktop {
    grid-template-areas: 
        "text sidebar"
        "hero hero";
  }
  &__text {
    grid-area: text;
    width: 100%;
    &__title {
      font-size: 38px;
      line-height: 1.1;
      font-weight: 400;
      margin: 0 0 20px 0;
      letter-spacing: -0.02em;

      @include tablet { font-size: 70px; }
      @include desktop { font-size: 70px; }

      &-italic { font-style: italic; }
      
      &-decor {
        display: inline-flex;
        align-items: center;
        margin-right: 8px;
        img {
          width: 60px;
          height: 60px;
          @include tablet { width: 58px; height: 58px; }
        }
      }
    }

    &__description {
      font-size: 14px;
      line-height: 1.3;
      @include tablet { font-size: 16px; max-width: 90%; }
    }
  }

  &__sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include desktop {
      width: 30%;
      gap: 32px;
      align-items: flex-end; 
      justify-self: end;
    }
    &__image {
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
      
      display: none; 
      @include desktop {
        display: block;
        height: 100%;
      }
    }

    &__hashtags {
      display: flex;
      gap: 15px;
      justify-content: center;
      @include tablet{
        justify-content: end;
      }
      @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        width: 100%;
        width: 230px;
      }

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(36, 36, 36, 0.2);
        border-radius: 30px;
        padding: 8px 12px;
        font-size: 12px;
        color: var(--color-dark);
        
        @include tablet { font-size: 14px; }
      }
    }
  }
}

.home__hero {
  margin-top: 40px;
  width: 100%;
  grid-area: hero;
  
  &-image {
    width: 100%;
    height: 460px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center 25%;
    @include tablet { 
      border-radius: 60px; 
      height: 550px;
    }
    
    @include desktop {
      border-radius: 60px; 
      height: 350px;
    }
  }
}