@use 'variables' as *;

.rating-modal {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  &__close{
    background: var(--color-white);
    border: 0 solid white;
  }
  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
  }

  &__content {
    position: relative;
    background-color: var(--color-dark);
    border-radius: 20px;
    padding: 40px 20px;
    width: 100%;
    max-width: 335px;
    z-index: 1;

    @include tablet {
      max-width: 480px;
      padding: 40px;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--color-white);
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  &__rating-value {
    font-size: 16px;
    color: var(--color-white);
  }

  &__rating-stars {
    display: flex;
    gap: 4px;
  }

  &__star {
    background: rgba(36, 36, 36, 0.2);
    border: 0 solid white;
    transition: color 0.3s ease;

    &--active {
      color: var(--color-accent);
    }

    svg {
      width: 24px;
      height: 24px;
      fill: currentColor;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 12px 18px;
    border: 1px solid var(--color-white);
    border-radius: 30px;
    background: var(--color-dark);
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: var(--color-white);
    }
  }

  &__textarea {
    border-radius: 15px;
    resize: none;
    height: 100px;
  }

  &__submit {
    background-color: var(--color-white);
    color: var(--color-dark);
    padding: 12px;
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--color-accent);
    }
  }
}